<div class="help rv">
            <span class="help__ico" aria-hidden="true"><svg viewBox="0 0 24 24"><path d="M4 6.5A2.5 2.5 0 0 1 6.5 4h11A2.5 2.5 0 0 1 20 6.5v11a2.5 2.5 0 0 1-2.5 2.5h-11A2.5 2.5 0 0 1 4 17.5z"/><path d="M4.5 6.5 12 12l7.5-5.5"/></svg></span>
            <p class="help__title">Precisa de ajuda?</p>
            <p class="help__txt">Manda um email detalhando o problema. Respondemos em até 24 horas úteis.</p>
            <a class="help__mail" href="mailto:suporte@warbox.tv">suporte@warbox.tv</a>
            <a class="btn btn--wa btn--lg btn--block" href="https://wa.link/017acv" target="_blank" rel="noopener">{{> i-wa}} WhatsApp <small>(só urgências)</small></a>
          </div>