<span class="vctl" aria-hidden="true">
                          <span class="vctl__bar"><i></i><b></b></span>
                          <span class="vctl__row">
                            <svg class="vctl__play" viewBox="0 0 24 24"><path d="M8 5.5v13L19 12z"/></svg>
                            <svg viewBox="0 0 24 24"><path d="M4 10v4h4l5 4V6L8 10zM16 9a4 4 0 0 1 0 6M18.5 6.5a7.5 7.5 0 0 1 0 11"/></svg>
                            <span class="vctl__time">1:12:30</span>
                            <span class="vctl__sp"></span>
                            <span class="vctl__chip">Modo áudio</span>
                            <svg viewBox="0 0 24 24"><path d="M5 9V5h4M15 5h4v4M19 15v4h-4M9 19H5v-4"/></svg>
                          </span>
                        </span>